<app-search-form-base [searchFormParams]="searchFormParams"
                      [title]="'Detailed Scoring Replicate View'"></app-search-form-base>

<!--Start Content-->
<div class="row">
    <div class="col-md-12">
        <div>
            <!--Begin Current Content-->
            <div *ngIf="searchFormParams.expSets" class="expSets">
                <!--Begin Hotkeys Info-->
                <div class="row"
                     *ngIf="searchFormParams.expSetsModule && searchFormParams.expSetsModule.expSetsDeNorm?.length">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h3>Hot Keys</h3>
                            </div>
                            <div class="x_content">
                                <p>Press ? to view the hotkeys!</p>
                                <p>Hot keys for Mutant are enabled by default 0-9,shift+1-shift+5, in the order of the
                                    form</p>
                                <p>Hot keys for the N2 are enabled with shift+n, and then are 0-9, shift+1,shift+3, in
                                    the order of the form</p>
                                <p>ReEnable mutant hotkeys with shift+m</p>
                                <p>Submit the form with shift+s</p>
                            </div>
                            <!--Begin Hot key CheatSheet-->
                            <div class="row">
                                <div class="col-md-12">
                                    <hotkeys-cheatsheet></hotkeys-cheatsheet>
                                </div>
                            </div>
                            <!--End Hot key CheatSheet-->
                        </div>
                    </div>

                </div>
                <!--End Hotkeys Info-->
                <!--Begin expset-score component-->
                <div class="row"
                     *ngIf="searchFormParams.expSetsModule && searchFormParams.expSetsModule.expSetsDeNorm?.length">
                    <div class="col-md-12">
                        <app-expset-score-primary
                                [score]="true"
                                [expSetModule]="searchFormParams.expSetsModule"
                                [expSet]="searchFormParams.expSetsModule.expSetsDeNorm[0]"
                                (getMoreExpSets)="getNewExpSets()"
                        ></app-expset-score-primary>
                    </div>
                </div>
                <!--End expset-score component-->
            </div>
            <!--End Current Content-->

            <!--Begin Empty Result Info-->
            <div *ngIf="searchFormParams.expSets && ! searchFormParams.expSets.expWorkflows?.length">
                <h2>Empty ResultSet</h2>
                <p>The search you performed returned an empty result set.</p>
                <p>Either your search is incorrect, or not in the database.</p>
            </div>
            <!--Begin Empty Result Info-->
        </div>
    </div>
</div>
<!--End Content-->
