<!--Start Search Form-->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{title}}</h2>
                <div class="clearfix"></div>
                <h5>
                    {{formDesc}}
                </h5>
            </div>
            <div class="x_content">

                <form (ngSubmit)="searchFormParams.onSubmit()" autocomplete="off">
                    <div class="col-xs-3">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#screenData" data-toggle="tab">Screen</a>
                            </li>
                            <!--Only optionally show RNAi tabs - not needed on contact sheets-->
                            <li *ngIf="showRNAiTab"><a href="#rnaiData" data-toggle="tab">RNAi</a>
                                <!--<li><a href="#filterScores" data-toggle="tab">Filter By Scores - Simple</a>-->
                                <!--<li><a href="#filterScoresAdvanced" data-toggle="tab">Filter By Scores - Advanced</a>-->
                                <!--</li>-->
                                <!--<li><a href="#chemicalData" data-toggle="tab">Chemical</a>-->
                                <!--</li>-->
                        </ul>
                        <div class="clearfix"></div>
                        <br>
                        <button type="button" (click)="searchFormParams.onReset()" class="btn btn-danger">Reset</button>
                        <button *ngIf="! searchFormParams.rnaiSearch.geneNotFoundMessage && ! searchFormParams.errorMessage && searchFormParams.searchModule.typeAheadExpScreenWorkflows.length"
                                type="submit" id="searchFormSubmit" class="btn btn-success">Submit
                        </button>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-xs-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="screenData">
                                <p class="lead">Screen Data</p>
                                <app-search-form-exp-screen
                                        [formResults]="searchFormParams.searchFormExpScreenResults"
                                        [screenMetaDataSearch]="searchFormParams.screenMetaDataSearch"
                                        [searchModule]="searchFormParams.searchModule"></app-search-form-exp-screen>
                            </div>
                            <div class="tab-pane" id="rnaiData">
                                <p class="lead">Search Experiments by RNAi Reagent</p>
                                <app-search-form-rnai [rnaiSearch]="searchFormParams.rnaiSearch"></app-search-form-rnai>
                            </div>
                            <div class="tab-pane" id="filterScores">
                                <p class="lead">Filter By Scores - Simple</p>
                                <app-search-form-filter-by-scores
                                        [searchFormFilterByScoresResults]="searchFormParams.searchFormFilterByScoresResults"></app-search-form-filter-by-scores>
                            </div>
                            <div class="tab-pane" id="filterScoresAdvanced">
                                <p class="lead">Filter By Scores - Advanced</p>
                                <app-search-form-filter-by-scores-advanced
                                        [searchFormFilterByScoresAdvancedResults]="searchFormParams.searchFormFilterByScoresAdvancedResults"
                                ></app-search-form-filter-by-scores-advanced>
                            </div>
                            <!--<div class="tab-pane" id="chemicalData">Chemical</div>-->
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
                <div class="alert alert-warning" *ngIf="searchFormParams.errorMessage">
                    {{searchFormParams.errorMessage}}
                    <p>You cannot submit a search with invalid search parameters.</p>
                </div>
                <div class="alert alert-warning" *ngIf="searchFormParams.rnaiSearch.geneNotFoundMessage">
                    {{searchFormParams.rnaiSearch.geneNotFoundMessage}}
                    <br>
                    <p>You cannot submit a search with invalid search parameters.</p>
                </div>
                <div *ngIf="! searchFormParams.searchModule.typeAheadExpScreenWorkflows.length"
                     class="alert alert-warning">
                    <p>No batches matching your search criteria were found.</p>
                    <br>
                    <p>You cannot submit a search with invalid search parameters.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End Search Form-->

<ngx-spinner
        bdColor="rgba(51, 51, 51, 0.8)"
        size="large"
        color="#fff"
        type="ball-atom"
></ngx-spinner>

