if [ -f {{{images.instrumentImage}}} ]; then
    mkdir -p {{{images.makeDir}}}
    if [ ! -f {{{images.baseImage}}}.png ]; then
        bfconvert -nogroup -overwrite "{{{images.instrumentImage}}}" "{{{images.baseImage}}}.png"
    fi
fi
