<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                </div>
            </div>
            <label for="rnais">
                Enter one or more RNAi Reagents or Gene synonyms in the query box to find corresponding experiments
            </label>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                  tooltip="Enter one or more IDs separated by whitespace or newlines.">
          </span>
            <p>
                Examples: 'sjj_T14B4.7' (sjj_reagent) or 'C38D4.3' (Cosmid ID) or 'mel-28' (Gene locus name)
            </p>
            <textarea class="form-control"
                      name="rnais" id="rnais" rows="5"
                      [(ngModel)]="rnaiSearch.rnais"
                      (ngModelChange)="updateRnaisList()"
            >
      </textarea>
        </div>
    </div>
</div>
