<div *ngIf="expSet" class="row">
    <div class="col-md-12">
        <!--Begin Tab Definitions-->
        <div role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#images-{{expSet.albums.treatmentGroupId}}"
                                                          id="images-tab" role="tab"
                                                          data-toggle="tab"
                                                          aria-expanded="true">Images</a>
                </li>
                <li role="presentation" class=""><a href="#reagent-data-{{expSet.albums.treatmentGroupId}}" role="tab"
                                                    id="reagent-data-tab"
                                                    data-toggle="tab"
                                                    aria-expanded="false">Reagent Data</a>
                </li>
                <li role="presentation" class=""><a href="#manualscores-data-{{expSet.albums.treatmentGroupId}}"
                                                    role="tab"
                                                    id="manualscores-data-tab"
                                                    data-toggle="tab"
                                                    aria-expanded="false">Exp Manual Scores</a>
                </li>
                <li role="presentation" class=""><a href="#plate-data-{{expSet.albums.treatmentGroupId}}" role="tab"
                                                    id="plate-data-tab"
                                                    data-toggle="tab"
                                                    aria-expanded="false">Exp Plates</a>
                </li>
            </ul>
            <!--End Tab Definitions-->

            <!--Begin Page Content-->
            <div class="tab-content">
                <!--Begin Images Tab-->
                <div role="tabpanel" class="tab-pane active in" id="images-{{expSet.albums.treatmentGroupId}}"
                     aria-labelledby="images-tab">
                    <!--Begin ExpSet Data-->
                    <div class="row">
                        <!--Begin Screen Data-->
                        <div class="col-md-6">
                            <app-batch-data [expSet]="expSet"></app-batch-data>
                        </div>
                        <!--End Screen Data-->

                        <!--Begin Related ExpSets Url-->
                        <div class="col-md-2">
                            <a target="_blank" [routerLink]="['/related_expsets', expSet.albums.treatmentGroupId]">
                                <div class="link">
                                    Related ExpSets
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                          tooltip="Get all ExpSets that have the same reagents. This includes different screens, temperatures, batches.">
                                </span>
                                </div>
                            </a>
                            <a target="_blank" [routerLink]="['/contact-sheet-replicate-view', expSet.albums.treatmentGroupId]">
                                <div class="link">
                                    Score Interesting/Not
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                          tooltip="Score in the contact sheet (only this expSet)">
                                </span>
                                </div>
                            </a>
                            <a target="_blank" [routerLink]="['/expset-score-primary', expSet.albums.treatmentGroupId]">
                                <div class="link">
                                    Score using Detailed Score Form
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                          tooltip="Score in the detailed scoring form (only this expSet)">
                                </span>
                                </div>
                            </a>
                        </div>
                        <!--Begin Related ExpSet Url-->

                        <!--Begin ExpSet Toggle-->
                        <div class="col-md-2">
                            <div *ngIf="displayToggle">
                                <app-expset-toggle [treatmentGroupId]="expSet.albums.treatmentGroupId"
                                                   [expScreen]="expSet.expScreen"
                                                   [expWorkflow]="expSet.expWorkflow"
                                                   [contactSheetResults]="contactSheetResults"
                                                   [expManualScores]="expSet.expManualScores"
                                                   [submit]="true"
                                ></app-expset-toggle>
                            </div>
                            <div *ngIf="!displayToggle">
                                <div [ngClass]="isExpSetInteresting(expSet.albums.treatmentGroupId)"></div>
                            </div>
                        </div>
                        <!--End ExpSet Toggle-->

                        <!--TODO If no toggle just display-->

                    </div>
                    <!--Begin ExpSet Data-->

                    <div class="row">
                        <div class="col-md-12">
                            <!--Begin CtrlStrain Row - 4 images per row-->
                            <div class="row" id="ctrl_strain">
                                <div class="col-md-12">
                                    <h3>Control Strain (ts)</h3>
                                    <div class="row">
                                        <div *ngFor="let image of expSet.albums.ctrlStrainImages; let i=index">
                                            <div *ngIf="image">
                                                <div class="col-md-3">
                                                    <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                                                         (click)="open(expSet.albums.ctrlStrainImages, i)"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End CtrlStrain Row - 4 images per row-->

                            <!--Begin TreatReagent Row - 4 images per row-->
                            <div class="row" id="treat">
                                <div class="col-md-12">
                                    <h3>{{expSet.expWorkflow.biosamples.experimentBiosample.name}} + Reagent</h3>
                                    <div *ngIf="expSet.expWorkflow.screenStage == 'secondary'">
                                        <div class="row">
                                            <div *ngFor="let image of expSet.albums.treatmentReagentImages; let i=index">
                                                <div *ngIf="image">
                                                    <div class="col-md-3 {{junkClass('treatmentReagentImages', i)}}">
                                                        <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                                                             (click)="open(expSet.albums.treatmentReagentImages, i)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="expSet.expWorkflow.screenStage == 'primary'">
                                        <div class="row">
                                            <div *ngFor="let image of expSet.albums.treatmentReagentImages; let i=index">
                                                <div *ngIf="image">
                                                    <div class="col-md-6">
                                                        <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                                                             (click)="open(expSet.albums.treatmentReagentImages, i)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--End TreatReagent Row - 4 images per row-->

                            <!--Begin CtrlNull Row - 4 images per row-->
                            <div class="row" id="ctrl_null">
                                <div class="col-md-12">
                                    <h3>Control Null </h3>
                                    <div class="row">
                                        <div *ngFor="let image of expSet.albums.ctrlNullImages; let i=index">
                                            <div *ngIf="image">
                                                <div class="col-md-3">
                                                    <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                                                         (click)="open(expSet.albums.ctrlNullImages, i)"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End CtrlNull Row - 4 images per row-->

                            <!--Begin TreatReagent Row - 4 images per row-->
                            <div class="row" id="ctrl_reagent">
                                <div class="col-md-12">
                                    <!--<h3>{{expSetAlbum.contactSheetResults.expWorkflows[0].biosamples.ctrlBiosample.name}} + {{expSetAlbum.contactSheetResults.genesList[0].wbGeneCgcName}} {{expSetAlbum.contactSheetResults.genesList[0].geneName}}</h3>-->
                                    <h3>{{expSet.expWorkflow.biosamples.ctrlBiosample.name}} + Reagent </h3>

                                    <div *ngIf="expSet.expWorkflow.screenStage == 'secondary'">
                                        <div class="row">
                                            <div *ngFor="let image of expSet.albums.ctrlReagentImages; let i=index">
                                                <div *ngIf="image">
                                                    <div class="col-md-3">
                                                        <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                                                             (click)="open(expSet.albums.ctrlReagentImages, i)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="expSet.expWorkflow.screenStage == 'primary'">
                                        <div class="row">
                                            <div *ngFor="let image of expSet.albums.ctrlReagentImages; let i=index">
                                                <div *ngIf="image">
                                                    <div class="col-md-6">
                                                        <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                                                             (click)="open(expSet.albums.ctrlReagentImages, i)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End TreatReagent Row - 4 images per row-->
                        </div>
                    </div>

                </div>
                <!--End Images Tab-->

                <!--Begin Reagent Data Tab-->
                <div role="tabpanel" class="tab-pane fade" id="reagent-data-{{expSet.albums.treatmentGroupId}}"
                     aria-labelledby="reagent-data-tab">
                    <app-reagent-data [expSet]="expSet"></app-reagent-data>
                </div>
                <!--End Reagent Data Tab-->

                <!--Begin ExpManualScores Data Tab-->
                <div role="tabpanel" class="tab-pane fade" id="manualscores-data-{{expSet.albums.treatmentGroupId}}"
                     aria-labelledby="manualscores-data-tab">
                    <app-score-data [expSet]="expSet"></app-score-data>

                </div>

                <!--End Exp Manual Scores Data Tab-->

                <!--Begin Plate Data Tab-->
                <div role="tabpanel" class="tab-pane fade" id="plate-data-{{expSet.albums.treatmentGroupId}}"
                     aria-labelledby="plate-data-tab">
                    <app-plate-data [expSet]="expSet"></app-plate-data>

                </div>
                <!--End Plate Data Tab-->

            </div>
            <!--End Page Content-->
        </div>
    </div>
</div>
