<!--Start Spinner-->
<ngx-spinner
        bdColor="rgba(51, 51, 51, 0.8)"
        size="large"
        color="#fff"
        type="ball-atom"
></ngx-spinner>
<!--End Spinner-->

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <h3>Screen: {{expSets.expScreens[0].screenName}}</h3>
                <h3>Batch: {{expSets.expWorkflows[0].name}}</h3>
                <h3>Screen Stage: {{expSets.expWorkflows[0].screenStage}}</h3>
                <h3>Temperature: {{expSets.expWorkflows[0].temperature}}C</h3>
                <h3>Worm Strains: {{expSets.expWorkflows[0].biosamples.experimentBiosample.name}} +
                    {{expSets.expWorkflows[0].biosamples.ctrlBiosample.name}} </h3>
            </div>
        </div>
    </div>
</div>

<!--Start the QC Per Plate Table -->
<div class="row qcPerPlate-table">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>QC Plate Table</h3>
            </div>
            <div class="x_content">
                <div class="row" *ngIf="qcPlateTable">
                    <div class="col-md-12">
                        <ag-grid-angular
                                style="width: 100%; height: 100%;"
                                (gridReady)="onPerPlateGridReady($event)"
                                [enableColResize]="true"
                                [enableSorting]="true"
                                [enableFilter]="true"
                                class="ag-theme-balham"
                                [rowData]="qcPlateTable"
                                [columnDefs]="qcPerPlateColumnDefs"
                        >
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End the QC Per Plate Table -->

<!--Start the QC Per Well Table-->
<div class="row qcPerWell-table">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>QC Well Table</h3>
            </div>
            <div class="x_content">
                <div class="row" *ngIf="qcWellTable">
                    <div class="col-md-12">
                        <ag-grid-angular
                                style="width: 100%; height: 100%;"
                                (gridReady)="onPerWellGridReady($event)"
                                [enableColResize]="true"
                                [enableSorting]="true"
                                [enableFilter]="true"
                                class="ag-theme-balham"
                                [rowData]="qcWellTable"
                                [columnDefs]="qcPerWellColumnDefs"
                        >
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End the QC Per Well Table-->


